/* font */
@font-face {
  font-family: 'BebasNeue';
  src: url('/static/fonts/bebasNeue/BebasNeue-Regular.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

/* common */
html,
body {
  height: 100%;
  background-color: #fdfaff;
  font-family: BebasNeue;
}

/* topbar */
.top-bar {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #361d45;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 26px 22px;
}
.top-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4663rem; /*1.283rem;*/
  padding: 10px 12px;
  margin-right: 1.25rem;
  line-height: 1.364; /*1.9485;*/
  letter-spacing: 0.43px;
}
.top-bar a.active {
  color: #BF83E5;
  border-bottom: 2px solid #BF83E5;
}
.top-bar a:hover {
  color: #BF83E5;
  border-bottom: 2px solid #BF83E5;
}
